<!DOCTYPE html>
{% load staticfiles %}
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Fernandez Dental Tour Stats</title>
    <style>
        body {
            margin: 20px;
        }
        #fernandez-dental-logo {
            float: right;
            top: -10px;
        }
    </style>
</head>
<body>
    <h1>Fernandez Dental Tour Stats
    <img id="fernandez-dental-logo" src="{% static 'fern_logo.jpeg' %}"/></h1>
    <p>Please, click <a href="/admin/">here</a> in order to login</p>
    or
    <p>click <a href="/admin/marketing/vehicle/">here</a> to go directly to the vehicles.</p>
    <p>click <a href="/admin/marketing/lead/">here</a> to go directly to the leads.</p>

</body>
</html>